*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 280vh;
    background-image: url(../Img/as.jpeg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8%;
    padding-left: 6%;
}
.logoaa{
       width: 12%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 1.2pc;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: .4s;
}
nav ul li a:hover{
    color: rgb(46, 185, 155);
}
.jkl{
    background-color: rgb(46, 185, 155);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    font-size: 1pc;
    border-radius: 30px;
    transition: 1s;
}
.jkl:hover{
    background-color: white;
    color: rgb(46, 185, 155);
}


.la{
    color: white;
    text-align: center;
    font-size: 3pc;
    margin-top: 3pc;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    /* #ff7800 */
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
section{
    padding:2rem 9%;
}
.tn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background-color:rgb(46, 185, 155);
    border:.2rem solid rgb(46, 185, 155);
    color:white;
    cursor: pointer;
}

.tn:hover{
    background:white;
    color:rgb(46, 185, 155);
}
.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap:1.5rem;
}
.categories .box-container .box{
    padding:3rem 2rem;
    border-radius: .5rem;
    background: white;
    box-shadow: var(--box-shadow);
    outline:var(--outline);
    outline-offset: -1rem;
    text-align: center;
}
.categories .box-container .box img{
    margin:1rem 0;
    height:15rem;
}
.categories .box-container .box h3{
   font-size: 2rem;
   color:rgb(46, 185, 155);
   line-height: 1.8;
}  
.categories .box-container .box p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding:1rem 0;
}